<%- include('./partials/header') %>
    <header class="contacts-header">
        <div class="contact-img">

        </div>
        <div class="contact-info">
            <h1>B®/</h1>
            <h1>CONTACT</h1>
            <p class="easy-text">EASY TO UNDERSTAND. IMPOSSIBLE TO IGNORE.™ BASIC®, INC 10 - 20©
            </p>
            <div class="contact-mail">
                <h2>●</h2>
                <div>
                    <h3>NEW BUSINESS</h3>
                    <h3>GENERAL</h3>
                    <p>hi@mail.com</p>

                    <p>hi@mail.com</p>
                    <h3>PRESS</h3>
                    <h3>JOIN US</h3>
                    <p>hi@mail.com</p>

                    <p>hi@mail.com</p>
                </div>
            </div>
        </div>
    </header>
    <%- include('./partials/footer') %>