<%- include('./partials/header') %>
    <section class="home-whatNext">
        <h1>WHAT’S NEXT STARTS</h1>
        <h2>
            <div class="circle"></div>HERE
        </h2>
        <div class="videos">
            <video src="assets/img/Hero.mp4" autoplay muted loop></video>
        </div>
        <p>STRATEGY, DESIGN, TECHNOLOGY</p>
        <div class="branding">
            <div class="branding-text">
                <h3>
                    BASIC® is a branding and digital design agency building products, services, and ecommerce
                    experiences
                    that turn cultural values into company value.
                </h3>
                <a href="/work">SEE THE WORK</a>
            </div>
            <div class="branding-img">

                <img src="assets/img/footer-logo-bg-white.svg" alt="">
            </div>

        </div>

    </section>

    <%- include('./partials/footer') %>